apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd-agent

resources:
- ../../base/base-app/

patches:
- target:
    kind: ApplicationSet
    name: apps
  patch: |
    - op: replace
      path: /spec/generators/0/git/directories
      value:
        - path: cluster-2/*
    - op: replace
      path: /spec/template/spec/source/path
      value: "cluster-2/{{ path.basename }}"
