apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager

resources:
  - namespace.yaml

helmCharts:
- name: cert-manager
  includeCRDs: true
  releaseName: cert-manager
  namespace: cert-manager
  version: 1.19.2
  repo: https://charts.jetstack.io
  valuesInline:
    crds:
      enabled: true
      keep: true
