apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../base/argocd-principal-agent # need to not install CRDs and cant override in base/argocd-agent
- argocd-agent-client-tls.yaml
