apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

helmCharts:
- name: argo-cd
  releaseName: argocd
  namespace: argocd
  version: 8.5.8
  includeCRDs: true
  repo: https://argoproj.github.io/argo-helm
  valuesInline:
    server:
      service:
        type: LoadBalancer
    configs:
      cm:
        kustomize.buildOptions: "--enable-helm"
      params:
        application.namespaces: "*"
      secret:
        argocdServerAdminPassword: "$2a$10$rbH6NowmeCKkkXg.hMAcAeTDG3.YUYqzlGBDrHbRJTK.xSkZ.rxQG"
        extra:
          server.secretkey: "Y2k4eFpYQ09UajBmMFhReGJHT3p2aXliTWMyRm9PQWsK"

resources:
- https://github.com/argoproj-labs/argocd-agent/install/kubernetes/principal?ref=v0.4.1
- ns.yaml
- app.yaml
